.main-todo {
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
    width: 30vw;
    background-color: rgb(126 129 129 / 10%);
    cursor: pointer;
}

.main-todo h5 {
    padding-left: 2em;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2em ;
}

.btn i {
    padding: 0px 3px 0px 3px;
    cursor: pointer;
}